@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Source+Sans+Pro&family=Unbounded&display=swap');

*{
    margin: 0;
    padding: 0;
}

.jumbotron, .items{
    margin-top: 5%;
  
    .banner{
        padding: 10%;
    }
}